Repository rsksmart/lumino, pull requests merged in 2020-11, with the labels that each got.

#139 Feature/rlp 797/add multiple transport modes
  raiden/api/rest.py
  raiden/app.py
  raiden/settings.py
  raiden/tests/integration/network/transport/test_matrix_transport.py
  raiden/tests/integration/test_raidenservice.py
  raiden/tests/unit/test_cli.py
  raiden/tests/utils/network.py
  raiden/ui/app.py
  raiden/ui/cli.py
  raiden/ui/runners.py
  transport/factory.py
  transport/layer.py
  transport/matrix/layer.py
  transport/matrix/transport.py
  transport/rif_comms/layer.py
  transport/rif_comms/node.py
Labels: cli, refactor, rif comms, transport

#145 RLP-848 Refactoring light client message protocol
  pip-wheel-metadata/raiden.dist-info/METADATA
  raiden/api/python.py
  raiden/api/rest.py
  raiden/api/v1/resources.py
  raiden/api/webui/static/endpointConfig.js
  raiden/lightclient/handlers/light_client_message_handler.py
  raiden/lightclient/handlers/light_client_service.py
  raiden/lightclient/models/light_client_payment.py
  raiden/lightclient/models/light_client_protocol_message.py
  raiden/message_handler.py
  raiden/network/transport/matrix/transport.py
  raiden/raiden_event_handler.py
  raiden/raiden_service.py
  raiden/storage/sqlite.py
  raiden/storage/utils.py
  raiden/transfer/channel.py
  raiden/transfer/mediated_transfer/events.py
  raiden/transfer/mediated_transfer/initiator.py
  raiden/transfer/mediated_transfer/initiator_manager.py
  raiden/transfer/mediated_transfer/target.py
  raiden/transfer/node.py
  raiden/transfer/views.py
Labels: bug, hub, light client messages, refactor

#149 RLP-887: set environment_type on MatrixTransport
  transport/matrix/layer.py
Labels: bug, rif comms, transport

#144 Bugfix/rlp 854/invalid close signature
  raiden/api/python.py
  raiden/blockchain_events_handler.py
  raiden/lightclient/handlers/light_client_message_handler.py
  raiden/lightclient/handlers/light_client_service.py
  raiden/network/blockchain_service.py
  raiden/network/proxies/payment_channel.py
  raiden/network/proxies/token_network.py
  raiden/network/proxies/utils.py
  raiden/network/transport/matrix/transport.py
  raiden/raiden_event_handler.py
  raiden/storage/sqlite.py
  raiden/tests/integration/long_running/test_settlement.py
  raiden/tests/integration/network/proxies/test_payment_channel.py
  raiden/tests/integration/test_regression_parity.py
  raiden/tests/utils/network.py
  raiden/transfer/channel.py
  raiden/transfer/events.py
  raiden/transfer/node.py
  raiden/transfer/state_change.py
  raiden/transfer/token_network.py
Labels: bug, close channel light

#148 RLP-863: RIFCommsClient base
  raiden/__main__.py
  raiden/tests/conftest.py
  raiden/tests/unit/rif_comms/test_rif_comms_client.py
  requirements-dev.txt
  requirements.txt
  transport/rif_comms/client.py
  transport/rif_comms/node.py
  transport/rif_comms/proto/__init__.py
  transport/rif_comms/proto/api.proto
  transport/rif_comms/proto/api_pb2.py
  transport/rif_comms/proto/api_pb2_grpc.py
Labels: enhancement, rif comms, transport

#151 Bugfix/rlp 854/invalid close signature
  raiden/api/python.py
  raiden/blockchain_events_handler.py
  raiden/lightclient/handlers/light_client_message_handler.py
  raiden/lightclient/handlers/light_client_service.py
  raiden/network/blockchain_service.py
  raiden/network/proxies/payment_channel.py
  raiden/network/proxies/token_network.py
  raiden/network/proxies/utils.py
  raiden/network/transport/matrix/transport.py
  raiden/raiden_event_handler.py
  raiden/storage/sqlite.py
  raiden/tests/integration/long_running/test_integration_events.py
  raiden/tests/integration/long_running/test_settlement.py
  raiden/tests/integration/network/proxies/test_payment_channel.py
  raiden/tests/integration/test_regression_parity.py
  raiden/tests/utils/mocks.py
  raiden/tests/utils/network.py
  raiden/transfer/channel.py
  raiden/transfer/events.py
  raiden/transfer/node.py
  raiden/transfer/state_change.py
  raiden/transfer/token_network.py
Labels: bug, close channel light

#152 RLP-865: fragment matrix/transport.py
  raiden/tests/integration/fixtures/transport.py
  raiden/tests/integration/network/transport/test_matrix_transport.py
  raiden/tests/integration/test_raidenservice.py
  raiden/tests/integration/test_send_queued_messages.py
  transport/matrix/layer.py
  transport/matrix/node.py
  transport/matrix/utils.py
Labels: refactor, transport

#156 Create pull_request_template.md
  docs/.github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: documentation

#153 Bug fix/rlp 801/fixing settlement light
  .gitignore
  raiden/api/python.py
  raiden/api/rest.py
  raiden/api/validations/channel_validator.py
  raiden/api/webui/static/endpointConfig.js
  raiden/constants.py
  raiden/network/proxies/token_network.py
Labels: bug, settlement light

#158 RLP-850 Fixing insufficient funds error
  raiden/api/python.py
  raiden/api/rest.py
  raiden/raiden_service.py
Labels: bug, hub

#157 RLP-889: generalize RetryQueue
  raiden/raiden_event_handler.py
  raiden/raiden_service.py
  raiden/tests/integration/network/transport/test_matrix_transport.py
  raiden/tests/integration/test_raidenservice.py
  raiden/utils/runnable.py
  transport/matrix/node.py
  transport/matrix/utils.py
  transport/node.py
  transport/rif_comms/node.py
  transport/utils.py
Labels: refactor, rif comms, transport

#159 Prevent crash when deleting payment task
  raiden/transfer/node.py
Labels: bug, mediated light payments, mediated payments, p2p light payments, p2p payments

#160 RLP-885 test_mediatedtransfer_invalid.py
  raiden/tests/integration/transfer/test_mediatedtransfer_invalid.py
Labels: bug, test suite

#155 RifCommsNode base
  raiden/tests/unit/rif_comms/test_rif_comms_client.py
  transport/matrix/node.py
  transport/rif_comms/client.py
  transport/rif_comms/layer.py
  transport/rif_comms/node.py
Labels: enhancement, rif comms, transport

#161 RLP-892: RIF Comms improvements & bugfixes
  raiden/app.py
  raiden/messages.py
  raiden/tests/unit/rif_comms/test_rif_comms_client.py
  transport/factory.py
  transport/matrix/node.py
  transport/node.py
  transport/rif_comms/client.py
  transport/rif_comms/layer.py
  transport/rif_comms/node.py
Labels: rif comms, transport

#163 RLP-901 Fixing mediated backward payment
  raiden/transfer/mediated_transfer/mediator.py
Labels: bug, full node, mediated light payments, mediated payments
