Repository rsksmart/lumino, pull requests merged in 2020-09, with the labels that each got.

#108 RLP-747 Fixing lumino empty token list crash
  raiden/api/python.py
Labels: bug

#112 RLP-765: add remove light client transport functionality
  raiden/network/transport/matrix/transport.py
Labels: builds on open pr, enhancement, ready for review, transport

#113 RLP-766: address normalization
  raiden/api/rest.py
  raiden/network/transport/matrix/transport.py
  raiden/raiden_event_handler.py
  raiden/raiden_service.py
  raiden/tests/utils/network.py
  raiden/ui/app.py
  transport/layer.py
Labels: ready for review, refactor, transport

#107 RLP-755 Refactor LC messages
  raiden/api/python.py
  raiden/lightclient/handlers/light_client_message_handler.py
  raiden/lightclient/handlers/light_client_service.py
  raiden/lightclient/models/light_client_payment.py
  raiden/lightclient/models/light_client_protocol_message.py
  raiden/raiden_event_handler.py
  raiden/raiden_service.py
  raiden/storage/sqlite.py
  raiden/storage/utils.py
  raiden/transfer/channel.py
  raiden/transfer/mediated_transfer/events.py
  raiden/transfer/mediated_transfer/initiator.py
  raiden/transfer/mediated_transfer/target.py
  raiden/transfer/node.py
Labels: enhancement, light client messages, ready for review

#116 RLP-767: remove send_for_light_client_with_retry
  raiden/network/transport/matrix/transport.py
  raiden/raiden_service.py
Labels: refactor, transport

#98 Feature/rlp 688/mediated transfers lc & multiple refund
  .gitignore
  raiden/api/python.py
  raiden/api/rest.py
  raiden/api/v1/encoding.py
  raiden/api/v1/resources.py
  raiden/api/webui/static/endpointConfig.js
  raiden/blockchain_events_handler.py
  raiden/lightclient/handlers/light_client_message_handler.py
  raiden/lightclient/models/light_client_protocol_message.py
  raiden/message_handler.py
  raiden/network/transport/matrix/transport.py
  raiden/raiden_service.py
  raiden/storage/utils.py
  raiden/tests/integration/network/transport/test_matrix_transport.py
  raiden/tests/unit/api/test_api.py
  raiden/tests/unit/test_sqlite.py
  raiden/tests/unit/transfer/mediated_transfer/test_initiatorstate.py
  raiden/tests/unit/transfer/mediated_transfer/test_mediatorstate_regression.py
  raiden/transfer/mediated_transfer/initiator.py
  raiden/transfer/mediated_transfer/initiator_manager.py
  raiden/transfer/mediated_transfer/mediator.py
  raiden/transfer/mediated_transfer/state.py
  raiden/transfer/mediated_transfer/state_change.py
  raiden/transfer/mediated_transfer/target.py
  raiden/transfer/node.py
  raiden/transfer/routes.py
Labels: mediated light payments, mediated payments, refund

#120 RLP-775: fixes to transport generalization, wave 1
  constraints.txt
  raiden/network/transport/matrix/transport.py
  raiden/tests/integration/fixtures/transport.py
  raiden/tests/integration/long_running/test_settlement.py
  raiden/tests/integration/network/transport/test_matrix_transport.py
  raiden/tests/integration/test_send_queued_messages.py
  requirements.txt
Labels: bug, builds on open pr, test suite, transport

#122 RLP-796: rename transport entities
  raiden/network/transport/matrix/__init__.py
  raiden/network/transport/matrix/transport.py
  raiden/ui/app.py
  transport/layer.py
  transport/node.py
Labels: builds on open pr, refactor, transport

#117 Feature/rlp 748/settlement light
  raiden/api/objects.py
  raiden/api/python.py
  raiden/api/rest.py
  raiden/api/v1/encoding.py
  raiden/api/v1/resources.py
  raiden/api/validations/channel_validator.py
  raiden/lightclient/handlers/light_client_message_handler.py
  raiden/messages.py
  raiden/network/proxies/payment_channel.py
  raiden/network/proxies/token_network.py
  raiden/raiden_event_handler.py
  raiden/raiden_service.py
  raiden/storage/sqlite.py
  raiden/transfer/channel.py
  raiden/transfer/events.py
  raiden/transfer/views.py
Labels: enhancement, hub, settlement light
