Repository rsksmart/lumino, pull requests merged in 2020-12, with the labels that each got.

#165 RLP-916: fix pyOpenSSL dependency
  constraints.txt
Labels: dependencies

#166 RLP-849: iterate RIF comms tests
  raiden/tests/unit/rif_comms/test_rif_comms_client.py
  transport/rif_comms/client.py
  transport/rif_comms/node.py
  transport/rif_comms/utils.py
Labels: builds on open pr, refactor, rif comms, test suite, transport

#164 Bugfix/rlp 802/register secret lc
  raiden/blockchain_events_handler.py
  raiden/raiden_event_handler.py
  raiden/transfer/mediated_transfer/events.py
  raiden/transfer/mediated_transfer/initiator.py
  raiden/transfer/mediated_transfer/initiator_manager.py
  raiden/transfer/mediated_transfer/target.py
  raiden/transfer/node.py
  raiden/transfer/state_change.py
Labels: bug, unlock light

#167 Feature/rlp 917/payment poc with comms
  transport/matrix/node.py
  transport/matrix/utils.py
  transport/rif_comms/node.py
  transport/rif_comms/utils.py
  transport/utils.py
Labels: p2p payments, rif comms, transport

#162 Feature/rlp 849/receive lc messages design
  raiden/settings.py
  raiden/tests/unit/rif_comms/test_rif_comms_client.py
  transport/matrix/node.py
  transport/matrix/utils.py
  transport/rif_comms/client.py
  transport/rif_comms/layer.py
  transport/rif_comms/node.py
  transport/rif_comms/utils.py
  transport/utils.py
Labels: enhancement, rif comms, transport

#168 Feature/rlp 847/start comms and lumino
  startLumino.sh
  startLuminoWithRIFComms.sh
Labels: builds on open pr, devops, enhancement, transport

#171 Bug fix/rlp 912/fixing lock expired lc
  raiden/message_handler.py
Labels: bug, hub

#169 bugfix/RLP-828/channel-not-deleted
  raiden/blockchain_events_handler.py
  raiden/transfer/channel.py
  raiden/transfer/state_change.py
  raiden/transfer/token_network.py
Labels: bug, close channel light, settlement light, unlock light

#172 RLP-932/add-subscription-check-to-payments
  transport/rif_comms/client.py
  transport/rif_comms/node.py
Labels: p2p payments, rif comms, transport

#175 bugfix/RLP-935/dependencies-fix
  constraints-dev.txt
  constraints.txt
  requirements-dev.txt
  requirements-lint.txt
Labels: bug, dependencies

#170 RLP-919: automate comms tests
  raiden/tests/integration/network/transport/rif_comms/__init__.py
  raiden/tests/integration/network/transport/rif_comms/node.py
  raiden/tests/integration/network/transport/rif_comms/process.py
  raiden/tests/integration/network/transport/rif_comms/test_client.py
  raiden/tests/integration/network/transport/utils.py
  raiden/tests/unit/rif_comms/test_rif_comms_client.py
  requirements-dev.txt
Labels: enhancement, rif comms, test suite, transport

#174 Feature/rlp 859/rif comms onboarding impl
  raiden/api/python.py
  raiden/api/rest.py
  raiden/lightclient/handlers/light_client_service.py
  raiden/raiden_service.py
  raiden/storage/utils.py
  transport/factory.py
  transport/layer.py
  transport/matrix/layer.py
  transport/rif_comms/layer.py
Labels: onboarding, rif comms, transport

#173 RLP-793 Fixing send signed close tx error
  raiden/transfer/node.py
Labels: bug

#177 RLP-946/add-grpc-endpoint-to-scripts
  startLumino.sh
  startLuminoWithRIFComms.sh
Labels: devops, transport

#178 RLP-949 Mediated payments fix
  raiden/tests/unit/transfer/mediated_transfer/test_mediatorstate.py
  raiden/transfer/mediated_transfer/mediator.py
Labels: bug, mediated payments

#180 RLP-951 Concurrent deposit for lc
  raiden/connection_manager.py
  raiden/exceptions.py
  raiden/network/proxies/token_network.py
Labels: enhancement, hub

#183 Feature/rlp 927/shutdown lumino if comms stops
  transport/rif_comms/client.py
  transport/rif_comms/node.py
Labels: rif comms, transport

#186 RLP-960 Fixing matrix server error
  raiden/settings.py
  raiden/ui/app.py
Labels: bug

#182 RLP-918: update rif-comms bindings
  raiden/tests/integration/network/transport/rif_comms/process.py
  raiden/tests/integration/network/transport/rif_comms/test_client.py
  requirements-dev.txt
  transport/rif_comms/client.py
  transport/rif_comms/proto/api.proto
  transport/rif_comms/proto/api_pb2.py
  transport/rif_comms/proto/api_pb2_grpc.py
Labels: rif comms, test suite, transport

#187 Bug fix/fixing matrix
  raiden/api/python.py
Labels: bug

#188 Feature/rlp 963/update comms track with develop
  raiden/api/python.py
  raiden/api/rest.py
  raiden/connection_manager.py
  raiden/exceptions.py
  raiden/network/proxies/token_network.py
  raiden/raiden_event_handler.py
  raiden/raiden_service.py
  raiden/settings.py
  raiden/tests/integration/fixtures/transport.py
  raiden/tests/integration/network/transport/test_matrix_transport.py
  raiden/tests/utils/network.py
  raiden/transfer/channel.py
  raiden/ui/app.py
  transport/matrix/layer.py
  transport/matrix/node.py
Labels: rif comms, transport

#189 RLP-928/sender validation
  raiden/tests/integration/network/transport/rif_comms/test_client.py
  transport/matrix/layer.py
  transport/rif_comms/node.py
  transport/rif_comms/utils.py
  transport/utils.py
Labels: matrix, rif comms, security, transport

#190 RLP-959/use private rooms
  raiden/ui/startup.py
Labels: matrix, security

#184 RLP-933 Insufficient funds controls
  raiden/api/rest.py
  raiden/api/validations/decorators.py
  raiden/api/validations/light_client_authorization.py
  raiden/network/proxies/payment_channel.py
  raiden/network/proxies/secret_registry.py
  raiden/network/proxies/token.py
  raiden/network/proxies/token_network.py
  raiden/network/proxies/token_network_registry.py
  raiden/network/proxies/user_deposit.py
  raiden/network/rpc/client.py
Labels: enhancement, hub

#193 Feature/rlp 969/multiaddr test cases update client
  raiden/tests/integration/network/transport/rif_comms/test_client.py
  transport/rif_comms/client.py
  transport/rif_comms/proto/api.proto
  transport/rif_comms/proto/api_pb2.py
  transport/rif_comms/proto/api_pb2_grpc.py
Labels: rif comms

#191 RLP-956: integrate new rif-comms version
  raiden/api/python.py
  raiden/tests/integration/network/transport/rif_comms/node.py
  raiden/tests/integration/network/transport/rif_comms/process.py
  raiden/tests/integration/network/transport/rif_comms/test_client.py
  transport/rif_comms/client.py
  transport/rif_comms/node.py
  transport/rif_comms/proto/api.proto
  transport/rif_comms/proto/api_pb2.py
  transport/rif_comms/proto/api_pb2_grpc.py
Labels: rif comms, test suite, transport

#194 RLP-978 Fixing ContractSendChannelUpdateTransfer
  raiden/transfer/events.py
Labels: bug

#192 RLP-969/ Multi addr test cases
  raiden/tests/integration/network/transport/rif_comms/cluster.py
  raiden/tests/integration/network/transport/rif_comms/node.py
  raiden/tests/integration/network/transport/rif_comms/test_client.py
  transport/rif_comms/client.py
  transport/rif_comms/proto/api.proto
  transport/rif_comms/proto/api_pb2.py
  transport/rif_comms/proto/api_pb2_grpc.py
Labels: rif comms, test suite, transport

#195 RLP-979: update with develop
  raiden/api/rest.py
  raiden/api/validations/decorators.py
  raiden/api/validations/light_client_authorization.py
  raiden/network/proxies/payment_channel.py
  raiden/network/proxies/secret_registry.py
  raiden/network/proxies/token.py
  raiden/network/proxies/token_network.py
  raiden/network/proxies/token_network_registry.py
  raiden/network/proxies/user_deposit.py
  raiden/network/rpc/client.py
  raiden/transfer/channel.py
  raiden/transfer/events.py
  raiden/ui/startup.py
Labels: rif comms, transport
