Repository rsksmart/lumino, pull requests merged in 2021-01, with the labels that each got.

#196 RLP-970 Fixing register secret loop error
  raiden/network/proxies/token_network.py
  raiden/transfer/mediated_transfer/target.py
Labels: bug, register secret

#185 RLP-871-rif-comms-light-client-impl
  raiden/blockchain_events_handler.py
  raiden/raiden_event_handler.py
  raiden/raiden_service.py
  transport/layer.py
  transport/matrix/layer.py
  transport/rif_comms/layer.py
Labels: matrix, mediated light payments, p2p light payments, rif comms, transport

#197 RLP-759 Testnet bugfixing
  raiden/api/python.py
  raiden/api/rest.py
  raiden/api/validations/decorators.py
Labels: bug

#199 feature/RLP-900/rif-comms-exception-handling
  raiden/app.py
  raiden/settings.py
  raiden/tests/conftest.py
  raiden/tests/integration/network/transport/rif_comms/test_client.py
  raiden/ui/app.py
  raiden/ui/cli.py
  transport/rif_comms/client.py
  transport/rif_comms/client_exception_handler.py
  transport/rif_comms/exceptions.py
  transport/rif_comms/node.py
Labels: rif comms, test suite, transport

#200 RLP-982: remove subscription timeout
  raiden/tests/integration/network/transport/rif_comms/test_client.py
  transport/rif_comms/client.py
Labels: bug, rif comms

#203 RLP-990/invalid-balance-proof-multi-token
  raiden/blockchain_events_handler.py
  raiden/lightclient/handlers/light_client_message_handler.py
  raiden/network/proxies/token_network.py
  raiden/raiden_event_handler.py
  raiden/storage/sqlite.py
  raiden/transfer/channel.py
  raiden/transfer/state_change.py
Labels: bug, close channel light

#204 Bug fix/rlp 991/fixing transaction poll bug
  raiden/network/rpc/client.py
  raiden/utils/rsk_gas_price_strategy/rsk_gas_price_strategy.py
Labels: bug
